<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cura</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap">

  </head>
  <body>
    <div class="toggle-switch">
      <input type="checkbox" id="toggle-theme">
      <label for="toggle-theme" class="toggle-slider" title="Toggle day/night mode"></label>
    </div>
    <div class="chatgpt-container">
      <div class="chatgpt-header">
        <span class="chatgpt-title">Cura</span>
        <span class="chatgpt-subtitle">AI Chatbot</span>
      </div>
      <div class="chatgpt-messages" id="response"></div>
      <form class="chatgpt-input-row" autocomplete="off">
        <input class="chatgpt-input" type="text" name="question" id="question" placeholder="Type your message..." autocomplete="off">
        <button class="chatgpt-send" id="submit-button" type="submit">
          <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
        </button>
      </form>
      
      <div class="made-with-love">
        <span>Made with ❤️ by Amaranth</span>
      </div>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>

  </body>
</html>
